<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/tablecss.css">
	<style>
		#container {
			width: 80%;
			margin: auto;
			position: relative;
		}
	</style>
</head>
<body>
<h1>Time Table</h1>
	<div id="container">
		<div class="pricing-table basic">
			<span class="table-head">
				안산 중앙점
			</span>
			<span class="price">
				Time Table
			</span>
			<span class="table-row">7:00 - 8:40</span>
			<span class="table-row">9:00 - 10:40</span>
			<span class="table-row">11:00 - 12:40</span>
			<span class="table-row">13:00 - 14:40</span>
			<span class="table-row">15:00 - 16:40</span>
			<span class="table-row">17:00 - 18:40</span>
			<div class="purchase">
				<a href="/tic_seat" class="buy">선택</a>
			</div>
		</div>

		<div class="pricing-table standard">
			<span class="table-head">
				서울 이수점 
			</span>
			<span class="price">
				Time Table
			</span>
			<span class="table-row">7:00 - 8:40</span>
			<span class="table-row">9:00 - 10:40</span>
			<span class="table-row">11:00 - 12:40</span>
			<span class="table-row">13:00 - 14:40</span>
			<span class="table-row">15:00 - 16:40</span>
			<span class="table-row">17:00 - 18:40</span>
			<div class="purchase">
				<a href="/tic_seat" class="buy">선택</a>
			</div>
		</div>

		<div class="pricing-table premium">
			<span class="table-head">
				경기 광명점
			</span>
			<span class="price">
				Time Table
			</span>
			<span class="table-row">7:00 - 8:40</span>
			<span class="table-row">9:00 - 10:40</span>
			<span class="table-row">11:00 - 12:40</span>
			<span class="table-row">13:00 - 14:40</span>
			<span class="table-row">15:00 - 16:40</span>
			<span class="table-row">17:00 - 18:40</span>
			<div class="purchase">
				<a href="tic_seat" class="buy">선택</a>
			</div>
		</div>
	</div>
	
</body>
</html>