<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>Employee Edit</h1>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>
			<table>
				<tr>
					<td><lable>emp_id</lable></td>
					<td><input type="text" name="emp_id" value="<%= employee.emp_id  %>" disable/></td>
				</tr>
				<tr>
					<td><lable>emp_name</lable></td>
					<td><input type="text" name="emp_name" value="<%= employee.emp_name  %>"/></td>
				</tr>
				<tr>
					<td><lable>emp_eng_name</lable></td>
					<td><input type="text" name="emp_eng_name" value="<%= employee.emp_eng_name  %>"/></td>
				</tr>
                <tr>
					<td><lable>start_date</lable></td>
					<td><input type="text" name="start_date" value="<%= employee.start_date  %>"/></td>
				</tr>
				<tr>
					<td><lable>dept</lable></td>
					<td><input type="text" name="dept" value="<%= employee.dept  %>"/></td>
				</tr> 
				<tr>
					<td><lable>rank</lable></td>
					<td><input type="text" name="rank" value="<%= employee.rank  %>"/></td>
				</tr>
                <tr>
					<td><lable>salary</lable></td>
					<td><input type="text" name="salary" value="<%= employee.salary  %>"/></td>
				</tr>
                
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>