<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>EMPLOYEE</h1>
	<ul>
         <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp delete &amp edit</a></ol>
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov delete &amp edit</a></ol>
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
			<ol><a href='/sup_list'>sup delete and edit</a></ol> 
		<li>타임 테이블 관리</li>
            <ol><a href='/timetable_insert'>timetable_insert</a></ol>
            <ol><a href='/timetable_list'>timetable delete and edit</a></ol>     
    </ul>
	<form method='post'>
		<fieldset>
			<legend>EMPLOYEE EDIT</legend>
			<table>
				<tr>
					<td><label>emp_id</label></td>
					<td><input type="text" name="emp_id" value="<%= employee.emp_id  %>" disable/></td>
				</tr>
				<tr>
					<td><label>emp_name</label></td>
					<td><input type="text" name="emp_name" value="<%= employee.emp_name  %>"/></td>
				</tr>
				<tr>
					<td><label>emp_eng_name</label></td>
					<td><input type="text" name="emp_eng_name" value="<%= employee.emp_eng_name  %>"/></td>
				</tr>
                <tr>
					<td><label>start_date</label></td>
					<td><input type="text" name="start_date" value="<%= emp_start_date  %>"/></td>
				</tr>
				<tr>
					<td><label>dept</label></td>
					<td><input type="text" name="dept" value="<%= employee.dept  %>"/></td>
				</tr> 
				<tr>
					<td><label>rank</label></td>
					<td><input type="text" name="rank" value="<%= employee.rank  %>"/></td>
				</tr>
                <tr>
					<td><label>salary</label></td>
					<td><input type="text" name="salary" value="<%= employee.salary  %>"/></td>
				</tr>
                
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>