<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>Movie Edit</h1>
	<ul>
         <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp delete &amp edit</a></ol>
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov delete &amp edit</a></ol>
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
            <ol><a href='/sup_list'>sup delete and edit</a></ol> 
    </ul>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>

            <table>
				<tr>
					<td><label>mov_id</label></td>
					<td><input type="text" name="mov_id" value="<%= movie.mov_id  %>" disable/></td>
				</tr>
				<tr>
					<td><label>mov_name</label></td>
					<td><input type="text" name="mov_name" value="<%= movie.mov_name  %>" disable/></td>
				</tr>
				<tr>
					<td><label>open_date</label></td>
					<td><input type="text" name="open_date" value="<%= movie.open_date  %>"/></td>
				</tr>
				<tr>
					<td><label>genre</label></td>
					<td><input type="text" name="genre" value="<%= movie.genre  %>"/></td>
				</tr>
				<tr>
					<td><label>grade</label></td>
					<td><input type="text" name="grade" value="<%= movie.grade  %>"/></td>
				</tr>
				<tr>
					<td><label>director</label></td>
					<td><input type="text" name="director" value="<%= movie.director  %>"/></td>
				</tr>
				<tr>
					<td><label>actor</label></td>
					<td><input type="text" name="actor" value="<%= movie.actor  %>"/></td>
				</tr>
				<tr>
					<td><label>mov_eng_name</label></td>
					<td><input type="text" name="mov_eng_name" value="<%= movie.mov_eng_name  %>"/></td>
				</tr>
				<tr>
					<td><label>mov_age</label></td>
					<td><input type="text" name="mov_age" value="<%= movie.mov_age%>"/></td>
				</tr>
				<tr>
					<td><label>mov_desc</label></td>
					<td><input type="text" name="mov_desc" value="<%= movie.mov_desc  %>"/></td>
				</tr>
                
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>