<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>Movie Edit</h1>
	<ul>
        <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp_list &amp delete</a></ol>
            <!-- <ol><a href='/emp_edit'>emp_edit</a></ol> -->
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov_list &amp delete</a></ol>
           <!--  <ol><a href='/mov_edit'>mov_edit</a></ol> -->
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
            <ol><a href='/sup_list'>sup_list</a></ol> 
           <!--  <ol><a href='/sup_edit'>sup_edit</a></ol> -->
    </ul>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>

            <table>
				<tr>
					<td><lable>mov_id</lable></td>
					<td><input type="text" name="mov_id" value="<%= movie.mov_id  %>" disable/></td>
				</tr>
				<tr>
					<td><lable>mov_name</lable></td>
					<td><input type="text" name="mov_name" value="<%= movie.mov_name  %>" disable/></td>
				</tr>
				<tr>
					<td><lable>open_date</lable></td>
					<td><input type="text" name="open_date" value="<%= movie.open_date  %>"/></td>
				</tr>
				<tr>
					<td><lable>genre</lable></td>
					<td><input type="text" name="genre" value="<%= movie.genre  %>"/></td>
				</tr>
				<tr>
					<td><lable>grade</lable></td>
					<td><input type="text" name="grade" value="<%= movie.grade  %>"/></td>
				</tr>
				<tr>
					<td><lable>director</lable></td>
					<td><input type="text" name="director" value="<%= movie.director  %>"/></td>
				</tr>
				<tr>
					<td><lable>actor</lable></td>
					<td><input type="text" name="actor" value="<%= movie.actor  %>"/></td>
				</tr>
                
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>