<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>Movie Edit</h1>
	<ul>
         <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp delete &amp edit</a></ol>
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov delete &amp edit</a></ol>
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
            <ol><a href='/sup_list'>sup delete and edit</a></ol> 
    </ul>
	<form method='post'>
		<fieldset>
			<legend>EDIT DATA</legend>
			<table>
				<tr>
					<td><label>sup_id</label></td>
					<td><input type="text" name="sup_id" value="<%= supplies.sup_id  %>" disable/></td>
				</tr>
				<tr>
					<td><label>ci_id</label></td>
					<td><input type="text" name="ci_id" value="<%= supplies.ci_id  %>"/></td>
				</tr>
				<tr>
					<td><label>sup_name</label></td>
					<td><input type="text" name="sup_name" value="<%= supplies.sup_name %>"/></td>
				</tr>
                <tr>
					<td><label>size</label></td>
					<td><input type="text" name="size" value="<%= supplies.size  %>"/></td>
				</tr>
				<tr>
					<td><label>total</label></td>
					<td><input type="text" name="total" value="<%= supplies.total  %>"/></td>
				</tr>
				 <tr>
					<td><label>price</label></td>
					<td><input type="text" name="price" value="<%= supplies.price  %>"/></td>
				</tr>
				<tr>
					<td><label>sup_in</label></td>
					<td><input type="text" name="sup_in" value="<%= supplies.sup_in  %>"/></td>
				</tr>
                
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>