<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
</head>
<body>
	<h1>TIMETABLE</h1>
	<ul>
         <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp delete &amp edit</a></ol>
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov delete &amp edit</a></ol>
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
			<ol><a href='/sup_list'>sup delete and edit</a></ol> 
		<li>타임 테이블 관리</li>
            <ol><a href='/timetable_insert'>timetable_insert</a></ol>
            <ol><a href='/timetable_list'>timetable delete and edit</a></ol>     
    </ul>
	<form method='post'>
		<fieldset>
			<legend>TIMETABLE EDIT</legend>
			<table>
				<tr>
					<td><label>tt_id</label></td>
					<td><input type="text" name="tt_id" value="<%= timetable.tt_id %>" disable/></td>
				</tr>
				<tr>
					<td><label>mov_name</label></td>
					<td><input type="text" name="mov_name" value="<%= timetable.mov_name  %>"/></td>
				</tr>
				<tr>
					<td><label>sc_num</label></td>
					<td><input type="text" name="sc_num" value="<%= timetable.sc_num %>"/></td>
				</tr>
				<tr>
					<td><label>time</label></td>
					<td><input type="text" name="time" value="<%= timetable.time  %>"/></td>
				</tr>
				<tr>
					<td><label>ci_name</label></td>
					<td><input type="text" name="ci_name" value="<%= timetable.ci_name  %>"/></td>
				</tr>
			</table>
			<input type="submit" value="Update"/>
		</fieldset>
	</form>
</body>
</html>