<!DOCTYPE html>
<html>

<head>
    <title>Admin Page</title>
</head>

<body>
    <h1>Timetable List</h1>
    <ul>
        <li>직원 관리</li>
            <ol><a href='/emp_insert'>emp_insert</a></ol>
            <ol><a href='/emp_list'>emp delete &amp edit</a></ol>
        <li>영화 관리</li>
            <ol><a href='/mov_insert'>mov_insert</a></ol>
            <ol><a href='/mov_list'>mov delete &amp edit</a></ol>
        <li>비품 관리</li>
            <ol><a href='/sup_insert'>sup_insert</a></ol>
            <ol><a href='/sup_list'>sup delete &amp edit</a></ol>
        <li>타임 테이블 관리</li>
            <ol><a href='/timetable_insert'>timetable_insert</a></ol>
            <ol><a href='/timetable_list'>timetable delete and edit</a></ol>     
    </ul>
    <hr />
    <table width="100%" border="1">
        <tr>
            <th>DELETE</th>
            <th>EDIT</th>
           
            <th>mov_id</th>
            <th>mov_name</th>
            <th>sc_id</th>
            <th>tt_date</th>
            <th>time</th>

        </tr>
        <% prodList.forEach(function(item, index){ %>
        <tr>
            <td><a href='/timetable_list/delete/<%= item.tt_date %>'>DELETE</a></td>
            <td> <a href='/timetable_edit/<%= item.tt_date %>'> EDIT</a></td>  
            
            <td><%= item.mov_id %></td>
            <td><%= item.mov_name %></td>
            <td><%= item.sc_id %></td>
            <td><%= item.tt_date %></td>
            <td><%= item.time %></td>
        </tr>
        <% }); %>
    </table>
</body>

</html>